@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-50 text-slate-800 font-sans antialiased min-h-screen;
}

/* Login: keep light input style when browser autofills (no color change after input) */
.login-input:-webkit-autofill,
.login-input:-webkit-autofill:hover,
.login-input:-webkit-autofill:focus,
.login-input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px rgb(255 255 255) inset !important;
  -webkit-text-fill-color: rgb(30 41 59) !important;
  caret-color: rgb(30 41 59);
}

@media print {
  body {
    @apply bg-white text-black;
  }
  header,
  nav,
  .no-print {
    display: none !important;
  }
}
