@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-50 text-slate-800 font-sans antialiased min-h-screen;
}

@media print {
  body {
    @apply bg-white text-black;
  }
  header,
  nav,
  .no-print {
    display: none !important;
  }
}
